html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /* font-family: 'Alkalami', serif; */
  /* font-family: 'Slabo 27px', serif; */
  font-family: 'Poppins', sans-serif;
}
#__next {
  min-height: inherit;
}
